body {
    display: flex;
    flex-direction: column;
}

#UI_elementInformation_div {
    background-color: gainsboro;

    width: 100%;
    margin-bottom: 5px;
}

#cmd-butt {
    background-color: gainsboro;

    width: 100%;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#web-preview {
    background-color: gainsboro;

    width: 100%;
    margin-bottom: 5px;
}

.speech-is-running {
    background-color: rgba(57, 183, 57, 0.435);
    border-color: rgba(57, 183, 57, 0.435);
}


/*
Property Class
*/

.dont_show {
    display: none;
}

.input-margin {
    margin: 5px;
}


/*
UX Class
*/

.selected {
    border: 1px dotted gray;
}

.selected_hard {
    border: 1px solid gray;
}